.page-inicial{
    background: url('./images/plano-de-fundo-discador-.png');
}
.botao{
    margin-top:15%;
}
.input-group{
    margin-top: 15%;
    left:25%;
    width: 50%;
}
.page-sub, .page-hosts{
    background: #00BFFF;
}

.page-sobre{
    width: 33%;
    margin-left: 33%;
    margin-top:15%;
}